Source: ros-humble-pal-gazebo-plugins
Section: misc
Priority: optional
Maintainer: Jordan Palacios <jordan.palacios@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-control-toolbox, ros-humble-gazebo-dev, ros-humble-gazebo-msgs, ros-humble-gazebo-ros, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-std-msgs, ros-humble-tf2-geometry-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-pal-gazebo-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-control-toolbox, ros-humble-gazebo-dev, ros-humble-gazebo-msgs, ros-humble-gazebo-ros, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-std-msgs, ros-humble-tf2-geometry-msgs, ros-humble-ros-workspace
Description: Robot-independent Gazebo plugins used by PAL Robotics.
